.post-search-bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-search-bar__container {
    width: 45%;
    max-width: calc(45% - 50px);
    min-width: 450px;
    flex-shrink: 0;
}

.post-search-bar__input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primary);
    opacity: 0.8;
    padding: 0 20px 5px 20px;
    border-radius: 12px;
}

.post-search-bar__input {
    flex-grow: 1;
    border: none;
    background: transparent;
    font-size: var(--font-size-title);
    text-align: center;
    color: black;
    padding: 5px 0;
}

.post-search-bar__input::placeholder {
    text-align: center;
    color: var(--gray-placeholder);
}

.post-search-bar__input:focus {
    outline: none;
    box-shadow: none;
}

.post-search-bar__icon {
    width: 2rem;
    height: 2rem;
    color: var(--primary);
    opacity: 0.5;
}

/* post-search indicator */
.post-search-loading-indicator {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.post-search-loading-indicator__image {
    width: 140px;
    aspect-ratio: 1/1;
    opacity: 0.8;
    margin-top: 12px;
}

.post-search-loading-indicator p {
    margin-top: 10px;
    font-size: var(--font-size-basic);
    color: var(--gray--placeholder);
}

.main-container:has(.post-search-loading-indicator) .main-area {
    margin: 0;
    padding: 0;
}