.error-page {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.error-page__mascot {
    display: none;

    @media (min-width: 1280px) {
        display: flex;
        justify-content: flex-end;
        width: 25%;
        height: 30rem;
    }
}

.error-page__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30rem;
}

.error-page__content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
    width: 83.33%;
    height: 100%;
}

.error-page__header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.error-page__title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary)
}

.error-page__message {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}