:root {
    /* Primary 색상 팔레트 */
    --primary: #187b46;
    --primary-hover: #1a9f57;
    --primary-50: #f0fdf5;
    --primary-100: #ddfbea;
    --primary-200: #bdf5d6;
    --primary-300: #89ecb6;
    --primary-400: #4fd98e;
    --primary-500: #27c06d;
    --primary-600: #1a9f57;
    --primary-700: #187b46;
    --primary-800: #18633c;
    --primary-900: #165132;
    --primary-950: #062d1a;

    /* Secondary 색상 팔레트 */
    --secondary: #f8fff6;
    --secondary-hover: #1eb900;
    --secondary-50: #f8fff6;
    --secondary-100: #deffd7;
    --secondary-200: #c0ffb2;
    --secondary-300: #8dff76;
    --secondary-400: #53f533;
    --secondary-500: #2cde09;
    --secondary-600: #1eb900;
    --secondary-700: #1b9005;
    --secondary-800: #1a710a;
    --secondary-900: #155d0a;
    --secondary-950: #073400;
    --secondary-background: rgba(141, 255, 118, 0.2);

    /* Gray 색상 팔레트 */
    --gray-50: #f7f7f7;
    --gray-100: #ededed;
    --gray-200: #dfdfdf;
    --gray-300: #c8c8c8;
    --gray-400: #adadad;
    --gray-500: #9d9d9d;
    --gray-600: #888888;
    --gray-700: #7b7b7b;
    --gray-800: #676767;
    --gray-900: #545454;
    --gray-950: #363636;

    --gray-input: #fafafa;
    --gray-input-border: #9b9b9b;
    --gray-placeholder: #adadad;
    --gray-disable: #c8c8c8;

    --gray-basic: #4c4c4c;
    --gray-dark: #2b2b2b;

    --gray-search: #d3e4fd;

    --gray-primary: #adadad;
    --gray-secondary: #f0f0f0;
    --gray-tertiary: #fafafa;

    --grayblue-primary: #d3e4fd;
    --grayblue-secondary: #f0f2f5;

    /* Red 색상 팔레트 */
    --red-50: #fff0f0;
    --red-100: #ffdddd;
    --red-200: #ffc0c0;
    --red-300: #ff9494;
    --red-400: #ff5757;
    --red-500: #ff2323;
    --red-600: #ff0000;
    --red-700: #d70000;
    --red-800: #b10303;
    --red-900: #920a0a;
    --red-950: #500000;
    --red-danger: #ff0000;
    --red-danger-background: #fff0f0;
    --red-favorite: #f27171;

    /* White 색상 팔레트 */
    --white: #fff;

    --header-height: 56px;
    --board-height: 280px;

    --font-size-title: 1.2rem;
    --font-size-basic: 1rem;
    --font-size-description: 0.85rem;
    --font-size-caption: 0.75rem;

}

@import url('./utils.css');
@import url('./layout.css');
@import url('./components.css');
@import url('./pages/feed.css');
@import url('./pages/campus.css');