/* modal styles */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5000;
}

.modal {
    width: 90vw;
    max-width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 1.5rem;
}

.pagemodal,
.writemodal {
    aspect-ratio: 4 / 5;
}

.pagemodal {
    height: auto;
}

.writemodal {
    overflow: auto;
}

.writemodal ::-webkit-scrollbar {
    /* scroll bar 없앰 */
    display: block;
}

.generalmodal {
    aspect-ratio: 16 / 9;
}

.modal-header {
    position: relative;
    padding: 1rem;
    text-align: center;
}

.generalmodal .modal-header {
    padding: 2rem;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.close-button img {
    width: 2rem;
    height: 2rem;
}

.modal-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.modal-content:has(.write__modal-form) {
    padding: 1rem 2rem 0 2rem;
    height: 100%;
}

.generalmodal .modal-content {
    overflow-y: visible;
}

.modal-form {
    flex-grow: 1;
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-start;
}

.modal-text {
    text-align: center;
}

.modal-headerform {
    flex-grow: 1;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-start;
}

.modal-footer {
    padding: 2rem;
}

.generalmodal .modal-footer {
    padding: 2rem;
}

@media (max-width: 705px) {

    .pagemodal,
    .writemodal {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* write modal form styles */

.write__modal-form {
    height: 100%;
}

.req-field-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 30px; */
}

span.opt-open-btn {
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: var(--font-size-caption);
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

span.opt-open-btn svg {
    width: var(--font-size-description);
}

/* extra info style */
.extra-info {
    display: inline-block;
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
}

.extra-info.red {
    color: var(--red-danger);
    background-color: var(--red-danger-background);
}

.extra-info.green {
    color: var(--primary);
    background-color: var(--secondary-100);
}

/* image upload */
.upload-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    border: 2px dashed var(--gray-300);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.camera-icon {
    margin-bottom: 5px;
}

.camera-icon svg {
    width: 44px;
    color: var(--gray-placeholder);
}

.upload-text {
    font-size: var(--font-size-description);
    color: var(--gray-placeholder);
}

.preview-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.preview-image-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--gray-board);
}

.remove-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.preview-container:hover .remove-overlay {
    opacity: 1;
}


/* hashtag styles */
.write__hashtag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.write__hashtag-item {
    position: relative;
    background-color: var(--grayblue-secondary);
    border-radius: 10px;
    padding: 5px 8px;
}

.write__hashtag-text {
    font-size: var(--font-size-caption);
    color: var(--primary);
}

.write__hashtag-item .remove-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
    cursor: pointer;

    font-size: var(--font-size-caption);
}

.write__hashtag-item:hover .remove-overlay {
    opacity: 1;
}