.find-password__remain-time-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
    font-weight: 600;
    color: var(--red-danger);
}

.find-password__remain-time__info-text {
    display: inline-block;
    font-size: var(--font-size-caption);
}